body {
background:rgb(245, 216, 189);
font: normal 15pt ;
text-align: center;

}
header {
color:rgb(48, 23, 2);
text-align:center;
}
section {

    background: white;
    border-radius: 20px;
    padding: 70px;
    width: 380px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}
div {
    text-align: center;
    padding: px;
}
footer {
color:rgb(12, 12, 11);
text-align: center;
}
#foto { 
    width: 250px;  
    height: 250px;
    border-radius: 100%;
    }
